
.container{
    margin-bottom: 100px;
}


.orange-bg{
    background-color:  #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 50px;
}

.price{
    color: #ff136f;
}

.buy-now-button{
    background: linear-gradient(to bottom,#ff136f 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}